html {
    background-color: #008F95;

}

body {
    padding-top: 53px;
    margin: 0 auto;
}

footer {
    text-align: center;
    height: 100%;
    background-color: #008F95;
}

footer a {
    color: white;
}

footer a:hover{
    color: #FF0066;
}

.my-3 {
    height: 2px;
    background-color:#FF0066;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
}

.navbar-header {
    text-align: center;
}

.jumbotron{
    text-align: center;
}

#quoteText {
    padding-left: 25px;
}
